################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/Post.Cmd.Api.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/Post.Cmd.Api.exe
/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/Post.Cmd.Api.pdb
/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/Post.Cmd.Api.runtimeconfig.json
/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/Post.Cmd.Api.staticwebassets.endpoints.json
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/apphost.exe
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.6485FF16.Up2Date
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.AssemblyInfoInputs.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.assets.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.csproj.AssemblyReference.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.csproj.CoreCompileInputs.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.csproj.FileListAbsolute.txt
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.genruntimeconfig.cache
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/Post.Query.Infrastructure.pdb
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/Post.Query.Infrastructure.sourcelink.json
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/ref/Post.Query.Infrastructure.dll
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/refint/Post.Query.Infrastructure.dll
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/Post.Query.Infrastructure.AssemblyInfoInputs.cache
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/Post.Query.Infrastructure.assets.cache
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/Post.Query.Infrastructure.csproj.CoreCompileInputs.cache
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/Post.Query.Infrastructure.csproj.FileListAbsolute.txt
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/Post.Query.Infrastructure.dll
/src/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net9.0/Post.Query.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/Post.Query.Domain.pdb
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/Post.Query.Domain.sourcelink.json
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/ref/Post.Query.Domain.dll
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/refint/Post.Query.Domain.dll
/src/SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net9.0/Post.Query.Infrastructure.deps.json
/src/SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net9.0/Post.Query.Infrastructure.dll
/src/SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net9.0/Post.Query.Infrastructure.pdb
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/Post.Query.Domain.AssemblyInfoInputs.cache
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/Post.Query.Domain.assets.cache
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/Post.Query.Domain.csproj.CoreCompileInputs.cache
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/Post.Query.Domain.csproj.FileListAbsolute.txt
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/Post.Query.Domain.dll
/src/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net9.0/Post.Query.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/Post.Cmd.Infrastructure.pdb
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/Post.Cmd.Infrastructure.sourcelink.json
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/ref/Post.Cmd.Infrastructure.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/refint/Post.Cmd.Infrastructure.dll
/src/SM-Post/Post.Query/Post.Query.Domain/bin/Debug/net9.0/Post.Query.Domain.deps.json
/src/SM-Post/Post.Query/Post.Query.Domain/bin/Debug/net9.0/Post.Query.Domain.dll
/src/SM-Post/Post.Query/Post.Query.Domain/bin/Debug/net9.0/Post.Query.Domain.pdb
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/Post.Cmd.Infrastructure.AssemblyInfoInputs.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/Post.Cmd.Infrastructure.assets.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/Post.Cmd.Infrastructure.csproj.CoreCompileInputs.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/Post.Cmd.Infrastructure.csproj.FileListAbsolute.txt
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/Post.Cmd.Infrastructure.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net9.0/Post.Cmd.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/Post.Cmd.Domain.pdb
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/Post.Cmd.Domain.sourcelink.json
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/ref/Post.Cmd.Domain.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/refint/Post.Cmd.Domain.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net9.0/Post.Cmd.Infrastructure.deps.json
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net9.0/Post.Cmd.Infrastructure.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net9.0/Post.Cmd.Infrastructure.pdb
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/Post.Cmd.Domain.AssemblyInfoInputs.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/Post.Cmd.Domain.assets.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/Post.Cmd.Domain.csproj.CoreCompileInputs.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/Post.Cmd.Domain.csproj.FileListAbsolute.txt
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/Post.Cmd.Domain.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net9.0/Post.Cmd.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/staticwebassets/msbuild.build.Post.Cmd.Api.props
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.Post.Cmd.Api.props
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.Post.Cmd.Api.props
/src/SM-Post/Post.Cmd/Post.Cmd.Api/Post.Cmd.Api.csproj.user
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net9.0/Post.Cmd.Domain.deps.json
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net9.0/Post.Cmd.Domain.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net9.0/Post.Cmd.Domain.pdb
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.sourcelink.json
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/ref/Post.Cmd.Api.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/refint/Post.Cmd.Api.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/staticwebassets.build.json
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/staticwebassets.removed.txt
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.pdb
/src/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net9.0/Post.Cmd.Api.MvcApplicationPartsAssemblyInfo.cache
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/CQRS.Core.pdb
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/CQRS.Core.sourcelink.json
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/ref/CQRS.Core.dll
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/refint/CQRS.Core.dll
/src/CQRS-ES/CQRS.Core/obj/project.assets.json
/src/CQRS-ES/CQRS.Core/obj/project.nuget.cache
/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/appsettings.Development.json
/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/appsettings.json
/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/Microsoft.OpenApi.dll
/src/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net9.0/Post.Cmd.Api.deps.json
/src/.vs/src/CopilotIndices/17.13.444.19527/CodeChunks.db
/src/.vs/src/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/src/.vs/src/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/src/.vs/src/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/src/.vs/src/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/src/.vs/src/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/src/.vs/src/FileContentIndex/8bd64d61-60c7-4936-988b-69c480da1951.vsidx
/src/.vs/src/FileContentIndex/8ff1131b-0705-48a6-b3e3-39cb8f5bf9b0.vsidx
/src/.vs/src/FileContentIndex/a7004d2b-7dc9-46d8-a886-67f1b437bafb.vsidx
/src/.vs/src/FileContentIndex/d0038746-b367-4275-82c6-cf30e640c427.vsidx
/src/.vs/src/FileContentIndex/ec8b6224-b553-4228-9a28-972a71790f11.vsidx
/src/.vs/src/v17/DocumentLayout.backup.json
/src/.vs/src/v17/DocumentLayout.json
/src/CQRS-ES/CQRS.Core/bin/Debug/net9.0/CQRS.Core.deps.json
/src/CQRS-ES/CQRS.Core/bin/Debug/net9.0/CQRS.Core.dll
/src/CQRS-ES/CQRS.Core/bin/Debug/net9.0/CQRS.Core.pdb
/src/CQRS-ES/CQRS.Core/obj/CQRS.Core.csproj.nuget.dgspec.json
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/CQRS.Core.AssemblyInfoInputs.cache
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/CQRS.Core.assets.cache
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/CQRS.Core.csproj.CoreCompileInputs.cache
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/CQRS.Core.csproj.FileListAbsolute.txt
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/CQRS.Core.dll
/src/CQRS-ES/CQRS.Core/obj/Debug/net9.0/CQRS.Core.GeneratedMSBuildEditorConfig.editorconfig
/src/CQRS-ES/CQRS.Core/obj/CQRS.Core.csproj.nuget.g.props
/src/CQRS-ES/CQRS.Core/obj/CQRS.Core.csproj.nuget.g.targets
